{% do headTitle().append(translate("txt-search")) %}

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

<div class="col-md-6">
    <div class="input-group">
        {{ formelement(form.get('q')) }}
        <span class="input-group-btn">
        {{ formelement(form.get('submit')) }}
      </span>
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    (function () {
        var cx = '{{ cx }}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
