{% do headTitle().append(translate("txt-search")) %}

<div class="container">
    <h1>{{ translate("txt-site-search") }}</h1>

    {% do form.prepare() %}
    {{ form().openTag(form)|raw }}
    <div class="input-group mb-3">
        {{ formelement(form.get('q')) }}
        <div class="input-group-append">
            {{ formelement(form.get('submit')) }}
        </div>
    </div>
    {{ form().closeTag()|raw }}

    <gcse:searchresults-only></gcse:searchresults-only>
</div>


<script type="text/javascript">
    (function () {
        var cx = '{{ cx }}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
            '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>

